/*!* Property page styling *!*/
.property-page {
  font-family: Arial, sans-serif;
  color: #333;
  /*max-width: 1200px;*/
  width: 70%;
  margin: 0 auto;
}

/*.breadcrumb {*/
/*  font-size: 14px;*/
/*  color: #FF6F61;*/
/*  margin-bottom: 10px;*/
/*}*/


/*!* Main container for the hotel header *!*/
/*.hotel-header {*/
/*  display: flex;*/
/*  justify-content: space-between;*/
/*  align-items: flex-start; !* Align items to the top *!*/
/*  !*padding: 20px;*!*/
/*  margin-bottom: 20px;*/
/*  font-family: Arial, sans-serif;*/
/*}*/

/*!* Left side: title and location *!*/
/*.hotel-info {*/
/*  flex-grow: 1;*/
/*}*/

/*.hotel-title {*/
/*  font-size: 24px;*/
/*  font-family: "TradeGothic ST Extended Bold", sans-serif;*/
/*  margin: 0 0 16px 0;*/
/*  color: #333;*/
/*}*/

/*.hotel-location {*/
/*  display: flex;*/
/*  align-items: center;*/
/*  font-size: 14px;*/
/*  font-weight: 500;*/
/*  font-family: Montserrat, sans-serif;*/
/*  color: #555;*/
/*}*/

/*.location-icon mat-icon {*/
/*  font-size: 16px;*/
/*  margin-right: 5px;*/
/*}*/

/*!* Rating section next to the title *!*/
/*.hotel-rating {*/
/*  display: flex;*/
/*  align-items: center;*/
/*  !*margin-top: 10px;*!*/
/*}*/

/*.rating-box {*/
/*  background-color: #64C9A3;*/
/*  color: white;*/
/*  padding: 10px;*/
/*  border-radius: 8px;*/
/*  font-size: 16px;*/
/*  margin-right: 10px;*/
/*  text-align: center;*/
/*}*/



.hotel-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*padding: 20px;*/
  padding: 20px 0;
  /*max-width: 900px;*/
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

.hotel-info h2 {
  font-size: 24px;
  font-family: "TradeGothic ST Extended Bold", sans-serif;
  margin: 0;
  color: #1b1b1b;
}

.action-section {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.price-section {
  margin-bottom: 10px; /* Adjusts spacing between price and buttons */
}

.price {
  font-size: 24px;
  font-weight: bold;
  color: #ff6b6b;
}

.per-night {
  font-size: 16px;
  color: #ff6b6b;
  margin-left: 4px;
}

.action-buttons {
  display: flex;
  gap: 10px;
}

button {
  background-color: transparent;
  border: #8DD3BB 1px solid;
  border-radius: 8px;
  padding: 10px;
  cursor: pointer;
}

button mat-icon {
  font-size: 24px;
  color: #112211;
  margin: 0;
}

.book-btn {
  background-color: #8DD3BB;
  color: #112211;
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  /*font-size: 16px;*/
  font-size: 14px;
  font-weight: 600;
  font-family: Montserrat, sans-serif;
  transition: background-color 0.3s ease;
}

.book-btn:hover {
  background-color: #112211;
  color: #8DD3BB;
}









/* Gallery */
.gallery {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr; /* Large image on left, 2 equal columns on the right */
  grid-template-rows: 1fr 1fr; /* Two rows */
  gap: 8px; /* Adds space between thumbnails */
}

.thumbnail {
  cursor: pointer;
}

.thumbnail:nth-child(1) {
  grid-column: 1 / 2; /* First image spans only 1 column (left side) */
  grid-row: 1 / span 2; /* First image spans 2 rows (full height on the left) */
}

.thumbnail:nth-child(2),
.thumbnail:nth-child(3),
.thumbnail:nth-child(4),
.thumbnail:nth-child(5) {
  grid-column: span 1; /* Each thumbnail in its own column */
  grid-row: span 1; /* Each thumbnail in its own row */
}

.thumbnail:nth-child(2) {
  grid-column: 2 / 3; /* Second image goes in the top right */
  grid-row: 1 / 2;
}

.thumbnail:nth-child(3) {
  grid-column: 3 / 4; /* Third image goes in the top right, next to the second */
  grid-row: 1 / 2;
}

.thumbnail:nth-child(4) {
  grid-column: 2 / 3; /* Fourth image goes in the bottom right */
  grid-row: 2 / 3;
}

.thumbnail:nth-child(5) {
  grid-column: 3 / 4; /* Fifth image goes in the bottom right, next to the fourth */
  grid-row: 2 / 3;
}

.thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures that the image covers the thumbnail without stretching */
  position: relative;
}

.thumbnail:nth-child(1) img{
  border-radius: 12px 0 0 12px;
}

.thumbnail:nth-child(3) img{
  border-radius: 0 12px 0 0;
}

.thumbnail:nth-child(5) img{
  border-radius: 0 0 12px 0;
}


/*.gallery {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr; !* Large image on left, 2 equal columns on the right *!
  grid-template-rows: 1fr 1fr; !* Two rows *!
  gap: 8px; !* Adds space between thumbnails *!
}

.thumbnail {
  cursor: pointer;
  position: relative; !* Make it relative so that the button can be absolutely positioned inside *!
}

.thumbnail:nth-child(1) {
  grid-column: 1 / 2; !* First image spans only 1 column (left side) *!
  grid-row: 1 / span 2; !* First image spans 2 rows (full height on the left) *!
}

.thumbnail:nth-child(2),
.thumbnail:nth-child(3),
.thumbnail:nth-child(4),
.thumbnail:nth-child(5) {
  grid-column: span 1; !* Each thumbnail in its own column *!
  grid-row: span 1; !* Each thumbnail in its own row *!
}

.thumbnail:nth-child(2) {
  grid-column: 2 / 3; !* Second image goes in the top right *!
  grid-row: 1 / 2;
}

.thumbnail:nth-child(3) {
  grid-column: 3 / 4; !* Third image goes in the top right, next to the second *!
  grid-row: 1 / 2;
}

.thumbnail:nth-child(4) {
  grid-column: 2 / 3; !* Fourth image goes in the bottom right *!
  grid-row: 2 / 3;
}

.thumbnail:nth-child(5) {
  grid-column: 3 / 4; !* Fifth image goes in the bottom right, next to the fourth *!
  grid-row: 2 / 3;
  position: relative; !* Enable relative positioning for the button *!
}

.thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover; !* Ensures that the image covers the thumbnail without stretching *!
}

.thumbnail:nth-child(1) img{
  border-radius: 12px 0 0 12px;
}

.thumbnail:nth-child(3) img{
  border-radius: 0 12px 0 0;
}

.thumbnail:nth-child(5) img{
  border-radius: 0 0 12px 0;
}

.view-photos-btn {
  position: absolute;
  bottom: 8px;
  right: 8px;
  background-color: #8DD3BB; !* Semi-transparent background *!
  !*color: white;*!
  color: #112211;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 600;
  font-family: Montserrat, sans-serif;
  cursor: pointer;
}

.view-photos-btn:hover {
  background-color: #112211; !* Darker background on hover *!
  color: #8DD3BB;
}*/




.border {
  border: 1px solid rgba(17, 34, 17, 0.25);
  margin: 64px 0;
}



/* Overview section */
.overview {
  height: auto;
}

.overview h3 {
  font-size: 20px;
  font-family: "TradeGothic ST Extended Bold", sans-serif;
  color: #112211;
  margin-bottom: 16px;
}

.overview p {
  font-size: 16px;
  font-weight: 500;
  font-family: Montserrat, sans-serif;
  margin-bottom: 32px;
  color: rgba(17, 34, 17, 0.75);
}

.highlights {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 15px;
  margin-top: 20px;
  /*height: 160px;*/
  height: inherit;
}

.rating-box {
  background-color: #8DD3BB;
  border-radius: 12px;
  padding: 16px;
  /*padding: 16px 64px 16px 16px;*/
  text-align: start;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.rating-box .rating-score {
  font-size: 32px;
  font-family: "TradeGothic ST Extended Bold", sans-serif;
  margin: 0 0 32px 0;
  color: #112211;
}

.rating-box p {
  font-size: 16px;
  font-weight: 700;
  font-family: Montserrat, sans-serif;
  color: #112211;
  margin: 0;
}

.review-count {
  font-size: 14px;
  font-weight: 500;
  font-family: Montserrat, sans-serif;
  color: #112211;
}

.highlight-box {
  border: 2px solid #8DD3BB;
  border-radius: 12px;
  padding: 16px;
  /*padding: 16px 64px 16px 16px;*/
  text-align: start;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 200px;
}

.sparkle-icon {
  width: 24px;
  height: 24px;
}

.highlight-box p {
  margin: 0;
  font-size: 14px;
  color: #333;
}


/* Map section */
.map-container {
  height: auto;
}

.map-container h3 {
  font-size: 20px;
  font-family: "TradeGothic ST Extended Bold", sans-serif;
  color: #112211;
  margin-bottom: 32px;
}

.map-container p {
  font-size: 14px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  margin-top: 5px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

#map {
  height: 400px;
  width: 100%;
}

.custom-icon {
  font-family: 'Material Icons', serif;
  margin-right: 8px; /* Adds some space between the icon and the text */
  font-size: 20px; /* Adjust this to match the text size */
}



.check-in-check-out h3 {
  font-size: 20px;
  font-family: "TradeGothic ST Extended Bold", sans-serif;
  color: #112211;
  margin-bottom: 16px;
}

.check-in-check-out p {
  font-size: 14px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  margin-top: 5px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}




/* Amenities section */
.amenities h3 {
  font-size: 20px;
  font-family: "TradeGothic ST Extended Bold", sans-serif;
  color: #112211;
  margin-bottom: 32px;
}

.amenities-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 2 columns layout */
  gap: 15px;
  margin-top: 10px;
}

.amenity-item {
  display: flex;
  align-items: center;
  font-size: 16px;
  /*font-size: 14px;*/
  font-weight: 500;
  font-family: Montserrat, sans-serif;
}

.mat-icon {
  font-size: 24px;
  margin-right: 10px;
  /*color: #4CAF50; !* You can change the color to suit your design *!*/
  color: #112211;
}

.more-amenities button {
  background: none;
  border: none;
  color: #FF6F61; /* Customize the button color */
  font-weight: bold;
  cursor: pointer;
}


.reviews h3 {
  font-size: 20px;
  font-family: "TradeGothic ST Extended Bold", sans-serif;
  margin-bottom: 10px;
}

.review-score {
  display: flex;
  align-items: center;
  font-size: 16px;
}

.review-score span {
  margin-right: 10px;
}

.review {
  border-top: 1px solid #ddd;
  padding: 10px 0;
}

.review p {
  margin: 5px 0;
}
