.property-page {
  font-family: Arial, sans-serif;
  color: #333;
  /*max-width: 1200px;*/
  width: 70%;
  margin: 0 auto;
}

.hotel-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*padding: 20px;*/
  padding: 20px 0;
  /*max-width: 900px;*/
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

.hotel-info h2 {
  font-size: 24px;
  font-family: "TradeGothic ST Extended Bold", sans-serif;
  margin: 0;
  color: #1b1b1b;
}

.action-section {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.price-section {
  margin-bottom: 10px;
}

.price {
  font-size: 32px;
  font-weight: bold;
  font-family: Montserrat, sans-serif;
  color: #FF8682;
}

.per-night {
  font-size: 14px;
  font-weight: 700;
  font-family: Montserrat, sans-serif;
  color: #FF8682;
  margin-left: 4px;
}

.action-buttons {
  display: flex;
  gap: 10px;
}

.favorite-btn, .share-btn {
  background-color: transparent;
  border: #8DD3BB 1px solid;
  border-radius: 8px;
  padding: 10px;
  cursor: pointer;
  width: 48px;
  height: 48px;
}

button mat-icon {
  font-size: 24px;
  color: #112211;
  margin: 0;
}

.book-btn {
  background-color: #8DD3BB;
  color: #112211;
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  /*font-size: 16px;*/
  font-size: 14px;
  font-weight: 600;
  font-family: Montserrat, sans-serif;
  transition: background-color 0.3s ease;
}

.book-btn:hover {
  background-color: #76b699;
}







.gallery {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: repeat(2, 200px); /* Setovao visinu galerije, ako treba promeni na 250px MOZDA */
  gap: 8px;
}

.thumbnail {
  cursor: pointer;
}

.thumbnail:nth-child(1) {
  grid-column: 1 / 2;
  grid-row: 1 / span 2;
}

.thumbnail:nth-child(2),
.thumbnail:nth-child(3),
.thumbnail:nth-child(4),
.thumbnail:nth-child(5) {
  grid-column: span 1;
  grid-row: span 1;
}

.thumbnail:nth-child(2) {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.thumbnail:nth-child(3) {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

.thumbnail:nth-child(4) {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.thumbnail:nth-child(5) {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

.thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
}

.thumbnail:nth-child(1) img{
  border-radius: 12px 0 0 12px;
}

.thumbnail:nth-child(3) img{
  border-radius: 0 12px 0 0;
}

.thumbnail:nth-child(5) img{
  border-radius: 0 0 12px 0;
}



.border {
  border: 1px solid rgba(17, 34, 17, 0.25);
  /*margin: 64px 0;*/
  margin: 40px 0;
}



.overview {
  height: auto;
}

.overview h3 {
  font-size: 20px;
  font-family: "TradeGothic ST Extended Bold", sans-serif;
  color: #112211;
  margin-bottom: 16px;
}

.overview p {
  font-size: 16px;
  font-weight: 500;
  font-family: Montserrat, sans-serif;
  margin-bottom: 32px;
  color: rgba(17, 34, 17, 0.75);
}

.highlights {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 15px;
  margin-top: 20px;
  /*height: 160px;*/
  height: inherit;
}

.rating-box {
  background-color: #8DD3BB;
  border-radius: 12px;
  padding: 16px;
  /*padding: 16px 64px 16px 16px;*/
  text-align: start;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.rating-box .rating-score {
  font-size: 32px;
  font-family: "TradeGothic ST Extended Bold", sans-serif;
  margin: 0 0 32px 0;
  color: #112211;
}

.rating-box p {
  font-size: 16px;
  font-weight: 700;
  font-family: Montserrat, sans-serif;
  color: #112211;
  margin: 0;
}

.review-count {
  font-size: 14px;
  font-weight: 500;
  font-family: Montserrat, sans-serif;
  color: #112211;
}

.highlight-box {
  border: 2px solid #8DD3BB;
  border-radius: 12px;
  padding: 16px;
  /*padding: 16px 64px 16px 16px;*/
  text-align: start;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 200px;
}

.sparkle-icon {
  width: 24px;
  height: 24px;
}

.highlight-box p {
  margin: 0;
  font-size: 14px;
  color: #333;
}



.map-container {
  height: auto;
}

.map-container h3 {
  font-size: 20px;
  font-family: "TradeGothic ST Extended Bold", sans-serif;
  color: #112211;
  margin-bottom: 32px;
}

.map-container p {
  font-size: 14px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  color: #112211;
  margin-top: 5px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

#map {
  height: 400px;
  width: 100%;
}

.custom-icon {
  font-family: 'Material Icons', serif;
  margin-right: 8px;
  font-size: 20px;
}



.check-in-check-out h3 {
  font-size: 20px;
  font-family: "TradeGothic ST Extended Bold", sans-serif;
  color: #112211;
  margin-bottom: 16px;
}

.check-in-check-out p {
  font-size: 14px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  margin-top: 5px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}




.amenities h3 {
  font-size: 20px;
  font-family: "TradeGothic ST Extended Bold", sans-serif;
  color: #112211;
  margin-bottom: 32px;
}

.amenities-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  margin-top: 10px;
}

.amenity-item {
  display: flex;
  align-items: center;
  font-size: 16px;
  /*font-size: 14px;*/
  font-weight: 500;
  font-family: Montserrat, sans-serif;
}

.mat-icon {
  font-size: 24px;
  margin-right: 10px;
  /*color: #4CAF50;*/
  color: #112211;
}

.more-amenities button {
  background: none;
  border: none;
  color: #FF8682;
  font-weight: bold;
  cursor: pointer;
}





/*.reviews h3 {*/
/*  font-size: 20px;*/
/*  font-family: "TradeGothic ST Extended Bold", sans-serif;*/
/*  margin-bottom: 10px;*/
/*}*/

/*.review-score {*/
/*  display: flex;*/
/*  align-items: center;*/
/*  font-size: 16px;*/
/*}*/

/*.review-score span {*/
/*  margin-right: 10px;*/
/*}*/

/*.review {*/
/*  border-top: 1px solid #ddd;*/
/*  padding: 10px 0;*/
/*}*/

/*.review p {*/
/*  margin: 5px 0;*/
/*}*/






/*.reviews {*/
/*  margin-bottom: 20px;*/
/*}*/

/*.reviews h3 {*/
/*  font-size: 20px;*/
/*  font-family: "TradeGothic ST Extended Bold", sans-serif;*/
/*  margin-bottom: 32px;*/
/*}*/

/*.review-score {*/
/*  display: flex;*/
/*  align-items: center;*/
/*  font-weight: bold;*/
/*  color: #112211;*/
/*}*/

/*.review-score .rating-number {*/
/*  font-size: 40px;*/
/*  font-family: "TradeGothic ST Extended Bold", sans-serif;*/
/*}*/

/*.review-score .rating-label {*/
/*  margin-left: 20px;*/
/*}*/

/*.review-score .rating-label p {*/
/*  font-size: 20px;*/
/*  font-weight: 600;*/
/*  font-family: Montserrat, sans-serif;*/
/*  color: #112211;*/
/*}*/

/*.review-score .review-count {*/
/*  font-size: 18px;*/
/*  color: rgba(17, 34, 17, 0.75);*/
/*}*/

/*.review-list {*/
/*  margin-top: 20px;*/
/*}*/

/*.review-item {*/
/*  border-top: 1px solid #ddd;*/
/*  padding: 20px 0;*/
/*}*/

/*.review-header {*/
/*  display: flex;*/
/*  justify-content: space-between;*/
/*  align-items: center;*/
/*}*/

/*.review-header .review-rating {*/
/*  font-size: 14px;*/
/*  font-weight: 600;*/
/*  font-family: Montserrat, sans-serif;*/
/*  color: #112211;*/
/*}*/

/*.review-header .reviewer-name {*/
/*  font-size: 14px;*/
/*  font-weight: 400;*/
/*  font-family: Montserrat, sans-serif;*/
/*  color: #112211;*/
/*}*/

/*.review-comment {*/
/*  font-size: 14px;*/
/*  font-weight: 400;*/
/*  font-family: Montserrat, sans-serif;*/
/*  margin-top: 10px;*/
/*}*/

/*.pagination {*/
/*  display: flex;*/
/*  justify-content: center;*/
/*  align-items: center;*/
/*  !*margin-top: 20px;*!*/
/*  font-size: 16px;*/
/*}*/

/*.pagination mat-icon {*/
/*  font-size: 36px;*/
/*  cursor: pointer;*/
/*  color: #8DD3BB;*/
/*}*/

/*.pagination mat-icon.disabled {*/
/*  color: #ddd;*/
/*  cursor: not-allowed;*/
/*}*/

/*.pagination span {*/
/*  font-size: 16px;*/
/*  font-weight: bold;*/
/*}*/










.reviews {
  margin-bottom: 20px;
}

.reviews-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}

.reviews h3 {
  font-size: 20px;
  font-family: "TradeGothic ST Extended Bold", sans-serif;
  color: #112211;
}

.write-review-btn {
  background-color: #8DD3BB;
  border: none;
  color: #112211;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 600;
  font-family: Montserrat, sans-serif;
}

.write-review-btn:hover {
  background-color: #76b699;
}

.review-score {
  display: flex;
  align-items: center;
  font-weight: bold;
  color: #112211;
}

.review-score .rating-number {
  font-size: 40px;
  font-family: "TradeGothic ST Extended Bold", sans-serif;
}

.review-score .rating-label {
  margin-left: 20px;
}

.review-score .rating-label p {
  font-size: 20px;
  font-weight: 600;
  font-family: Montserrat, sans-serif;
  color: #112211;
}

.review-score .review-count {
  font-size: 18px;
  color: rgba(17, 34, 17, 0.75);
}

.review-list {
  margin-top: 20px;
}

/*.review-list {*/
/*  margin-top: 20px;*/
/*  min-height: 350px;*/
/*}*/

.review-item {
  border-top: 1px solid #ddd;
  padding: 20px 0;
}

.review-header {
  display: flex;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}

.review-header .review-rating {
  font-size: 14px;
  font-weight: 600;
  font-family: Montserrat, sans-serif;
  margin: 0;
  color: #112211;
}

.review-header .separator {
  display: inline-block;
  margin: 0 10px;
  color: #112211;
}

.review-header .reviewer-name {
  font-size: 14px;
  font-weight: 400;
  font-family: Montserrat, sans-serif;
  margin: 0;
  color: #112211;
}

.review-comment {
  font-size: 14px;
  font-weight: 400;
  font-family: Montserrat, sans-serif;
  color: #112211;
  margin-top: 10px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  font-size: 16px;
}

.pagination mat-icon {
  font-size: 36px;
  cursor: pointer;
  color: #8DD3BB;
  height: auto;
  width: auto;
  margin-right: 0;
}

.pagination mat-icon.disabled {
  color: #ddd;
  cursor: not-allowed;
}

.pagination span {
  font-size: 16px;
  font-weight: bold;
}

