<div class="content-wrapper">
  <div class="newsletter-container">
    <div class="newsletter-content">
      <div class="newsletter-text">
        <div class="subscribe-newsletter">
          <span>Subscribe</span><br />
          <span>Newsletter</span>
        </div>
        <div class="newsletter-subtitle">The Travel</div>
        <div class="get-inspired-text">Get inspired! Receive travel discounts, tips and behind the scenes stories.</div>
        <div class="newsletter-form">
          <input type="email" placeholder="Your email address" />
          <button>Subscribe</button>
        </div>
      </div>
      <div class="newsletter-image">
        <img src="./assets/mailbox.png" alt="Mailbox Image" />
      </div>
    </div>
  </div>
</div>

<footer class="footer-container">
  <div class="footer-content">
    <div class="footer-logo">
      <img src="./assets/Logo.png" alt="Logo" />
      <div class="social-icons">
        <a href="https://facebook.com" target="_blank">
          <img src="./assets/facebook.png" alt="Facebook Icon" class="social-icon">
        </a>
        <a href="https://twitter.com" target="_blank">
          <img src="./assets/twitter.png" alt="Twitter Icon" class="social-icon">
        </a>
        <a href="https://youtube.com" target="_blank">
          <img src="./assets/youtube.png" alt="YouTube Icon" class="social-icon">
        </a>
        <a href="https://instagram.com" target="_blank">
          <img src="./assets/instagram.png" alt="Instagram Icon" class="social-icon">
        </a>
      </div>
    </div>

    <div class="footer-links">
      <div>
        <h4>Our Destinations</h4>
        <ul>
          <li>Canada</li>
          <li>Alaska</li>
          <li>France</li>
          <li>Iceland</li>
        </ul>
      </div>
      <div>
        <h4>Our Activities</h4>
        <ul>
          <li>Northern Lights</li>
          <li>Cruising & sailing</li>
          <li>Multi-activities</li>
          <li>Kayaking</li>
        </ul>
      </div>
      <div>
        <h4>Travel Blogs</h4>
        <ul>
          <li>Bali Travel Guide</li>
          <li>Sri Lanka Travel Guide</li>
          <li>Peru Travel Guide</li>
        </ul>
      </div>
      <div>
        <h4>About Us</h4>
        <ul>
          <li>Our Story</li>
          <li>Work with us</li>
        </ul>
      </div>
    </div>
  </div>
</footer>
