<div class="content-wrapper">
  <div class="sign-up-container">
    <div class="sign-up-image-container">
      <img [src]="currentImage" alt="Sign Up Image" class="sign-up-image" />
      <div class="image-slider-dots">
        <span *ngFor="let dot of dots; let i = index" [class.active]="i === currentImageIndex" (click)="changeImage(i)"></span>
      </div>
    </div>

    <div class="sign-up-form-container">

      <div *ngIf="currentStage === 'signUp'">
        <h2 class="sign-up-title">Sign up</h2>
        <p class="sign-up-title-text">Let’s get you all set up so you can access your personal account.</p>

        <form [formGroup]="signUpForm" (ngSubmit)="onSubmitSignUp()">
          <div class="form-row">
            <mat-form-field appearance="outline" class="w-48">
              <mat-label>First Name</mat-label>
              <input matInput formControlName="firstName" required />
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-48">
              <mat-label>Last Name</mat-label>
              <input matInput formControlName="lastName" required />
            </mat-form-field>
          </div>

          <div class="form-row">
            <mat-form-field appearance="outline" class="w-48">
              <mat-label>Email</mat-label>
              <input matInput formControlName="email" required />
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-48">
              <mat-label>Phone Number</mat-label>
              <input matInput formControlName="phoneNumber" required />
            </mat-form-field>
          </div>

          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" required />
            <button mat-icon-button matSuffix (click)="hide = !hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>

          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Confirm Password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" formControlName="confirmPassword" required />
            <button mat-icon-button matSuffix (click)="hide = !hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>

          <mat-checkbox class="checkbox-container" formControlName="termsAccepted">
            I agree to all the <a href="#">Terms</a> and <a href="#">Privacy Policies</a>
          </mat-checkbox>

          <button type="submit" class="sign-up-btn" [disabled]="signUpForm.invalid">Create account</button>

          <div class="login-container">
            <p class="login-text">Already have an account? <a class="login-link" [routerLink]="'/login'" >Login</a></p>
          </div>
        </form>
      </div>

      <div *ngIf="currentStage === 'payment'">
        <a class="back-to-sing-up" (click)="backToSignUp()">
          <img src="assets/arrow-back.png" alt="Back" class="back-arrow" /> Back to login
        </a>
        <h2 class="sign-up-title">Add a payment method</h2>
        <p class="sign-up-title-text">Let’s get you all set up so you can access your personal account.</p>

        <form [formGroup]="paymentForm" (ngSubmit)="onSubmitPayment()">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Card Number</mat-label>
            <input matInput formControlName="cardNumber" required />
            <img src="assets/visa.png" alt="Visa" class="visa-icon">
          </mat-form-field>

          <div class="form-row">
            <mat-form-field appearance="outline" class="w-48">
              <mat-label>Exp. Date</mat-label>
              <input matInput formControlName="expirationDate" required />
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-48">
              <mat-label>CVC</mat-label>
              <input matInput formControlName="cvc" required />
            </mat-form-field>
          </div>

          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Name on Card</mat-label>
            <input matInput formControlName="nameOnCard" required />
          </mat-form-field>

          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Country or Region</mat-label>
            <input matInput formControlName="countryOrRegion" required />
          </mat-form-field>

          <mat-checkbox formControlName="saveInfo">
            Securely save my information for 1-click checkout
          </mat-checkbox>

          <button type="submit" class="sign-up-btn" [disabled]="paymentForm.invalid">Add payment method</button>
        </form>
      </div>
    </div>
  </div>
</div>




