<div class="landing-page">
  <img src="assets/sasha-kaunas-unsplash.jpg" class="landing-image" alt="Landing Background">
</div>


<div class="content-wrapper">
  <div class="form-container">
    <div class="card p-4">
      <h3 class="mb-4">Where are you going?</h3>

      <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-md-3 col-sm-12 mb-3">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Enter Destination</mat-label>
              <input matInput placeholder="Istanbul, Turkey" formControlName="destination" required>
              <mat-icon matPrefix>hotel</mat-icon>
            </mat-form-field>
          </div>

          <div class="col-md-3 col-sm-12 mb-3">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Check In</mat-label>
              <input matInput [matDatepicker]="checkInPicker" placeholder="Fri 12/2" formControlName="checkIn" required>
              <mat-datepicker-toggle matSuffix [for]="checkInPicker"></mat-datepicker-toggle>
              <mat-datepicker #checkInPicker></mat-datepicker>
            </mat-form-field>
          </div>

          <div class="col-md-3 col-sm-12 mb-3">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Check Out</mat-label>
              <input matInput [matDatepicker]="checkOutPicker" placeholder="Sun 12/4" formControlName="checkOut" required>
              <mat-datepicker-toggle matSuffix [for]="checkOutPicker"></mat-datepicker-toggle>
              <mat-datepicker #checkOutPicker></mat-datepicker>
            </mat-form-field>
          </div>

          <div class="col-md-3 col-sm-12 mb-3">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Rooms & Guests</mat-label>
              <mat-select formControlName="roomsGuests" required>
                <mat-option *ngFor="let option of roomGuestOptions" [value]="option">{{ option }}</mat-option>
              </mat-select>
              <mat-icon matPrefix>person</mat-icon>
            </mat-form-field>
          </div>
        </div>

        <div class="d-flex justify-content-end">
          <button mat-raised-button type="submit" class="show-places-btn custom-btn" [disabled]="searchForm.invalid">
<!--            <img src="assets/building.png" class="button-icon" alt="Show Places Icon">-->
            <mat-icon class="button-icon">business</mat-icon>
            Show Places
          </button>
        </div>
      </form>
    </div>
  </div>


  <div class="additional-content">
    <h3 class="title-recent-searches">Your recent searches</h3>
    <div class="recent-searches">
      <div class="search-item">
        <img src="assets/istanbul.jpg" alt="Istanbul, Turkey">
        <p>Istanbul, Turkey <br> 325 places</p>
      </div>
      <div class="search-item">
        <img src="assets/sydney.jpg" alt="Sydney, Australia">
        <p>Sydney, Australia <br> 325 places</p>
      </div>
      <div class="search-item">
        <img src="assets/baku.jpg" alt="Baku, Azerbaijan">
        <p>Baku, Azerbaijan <br> 325 places</p>
      </div>
      <div class="search-item">
        <img src="assets/male.jpg" alt="Malé, Maldives">
        <p>Malé, Maldives <br> 325 places</p>
      </div>
    </div>
  </div>


  <div class="travel-section">
    <div class="travel-header">
      <div class="header-text">
        <h2>Fall into travel</h2>
        <p>
          Going somewhere to celebrate this season? Whether you’re going home or
          somewhere to roam, we’ve got the travel tools to get you to your destination.
        </p>
      </div>
      <button class="see-all-btn">See All</button>
    </div>

    <div class="travel-cards">
      <div
        *ngFor="let card of travelCards"
        class="travel-card"
        [ngStyle]="{'background-image': 'url(' + card.imageUrl + ')'}"
      >
        <div class="travel-info">
          <h3>{{ card.city }}</h3>
          <div class="card-details">
            <p>{{ card.description }}</p>
            <div class="price">$ {{ card.price }}</div>
          </div>
          <button (click)="shortcutToPropertyList(card)" class="book-btn">Book an Apartment</button>
        </div>
      </div>
    </div>
  </div>

</div>
